body {
  height: 100%;
  display: -webkit-flex;
  display: flex;
}

.item {
  width: 100%;
  margin-bottom: 30px;
}

h1 {
  font-size: 30px;
  padding: 30px 0;
}

.main-content {
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}

.name {
  font-size: 16px;
}

p {
  font-size: 16px;
  line-height: 2;
  text-indent: 20px;
}

span {
  font-size: 16px;
}



/* .title{
  font-size: 30px;
}
.content{
  font-size: 20px;
}
.content span,.content div{
  font-size: 20px
} */
